<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.musicplayer.OpenMusic.OpenMusicApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/all_app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer">
        <activity
            android:name="com.musicplayer.OpenMusic.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.musicplayer.OpenMusic.ui.album.AlbumActivity" />
        <activity android:name="com.musicplayer.OpenMusic.ui.playlist.PlaylistActivity" />
        <activity android:name="com.musicplayer.OpenMusic.ui.settings.SettingsActivity" />
        <activity android:name="com.musicplayer.OpenMusic.ui.dir_browser.DirBrowserActivity" />
        <activity android:name="com.musicplayer.OpenMusic.ui.sleeptime.SleepTimeActivity" />
        <activity android:name="com.musicplayer.OpenMusic.ui.search.SearchActivity"/>
        <activity android:name="com.musicplayer.OpenMusic.ui.player_song_info.SonginfoActivity"/>

        <service
            android:name="com.musicplayer.OpenMusic.MediaPlayerService"
            android:stopWithTask="false" />

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.musicplayer.OpenMusic.utils.BluetoothUtil"
            android:exported="true">
            <intent-filter>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUEST" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>